<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cambio de Estado</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #03912e;
    }
    p {
      color: #000;
    }    
    li {
      color: #000;
    } 
  </style>
</head>
<body>
  <div class="container">
    <h1>Notificación de cambio de estado del reclamo</h1>
    <h4>Estimado Sr/ra {{nombre}}</h4>
    <p> Nos comunicamos para informarle que su reclamo nro {{reclamo}} a cambiado de estado. Ahora está ... </p>        

    <p>Atte.</p>        
    <h4>No responder este correo.... </h4>
  </div>
</body>
</html>
